<!DOCTYPE html>
<html>
<head>
  <title>Awards</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body>
  <form name="vote">
<!-- Use EJS to print out our data-->
  <%= data.length %> 
  <% for (var i = 0; i < data.length; i++) {%>
       <%= data[i].name %>
  <% } %>
    </select>
  </form>
  
</body>
</html>
