<!DOCTYPE html>
<html>
<head>
  <title>Oscar Vote 1.0</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="/js/oscarVote.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
<style>
.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
        .axis path, .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis path{
            fill: none;
            stroke: none;
        }
        .bar {
            fill: steelblue;
        }
</style>

</head>

<body>
  <div ng-app="ovoteApp">
    <div ng-controller="VoteController">
      <table border="0">
      <tr>
        <td valign="top">
       <div class="panel panel-primary">
         <div class="panel-heading"><h3 class="panel-title">Oscar Voting / Results Selection</h3></div>
         <div class="panel-body">
         <select ng-model="year" ng-change="loadSelections()" ng-options="y for y in years">
           <option value="">-- Select Year --</option>
         </select>
         <select ng-model="category" ng-change="loadSelections()" ng-options="c for c in categories">
           <option value="">-- Select Category --</option>
         </select>
         <select ng-model="candidate" ng-change="resetMessages()" ng-options="can.name for can in candidates">
           <option value="">-- Select Candidate --</option>
         </select>
         </div>
       </div>
       <div>
         <button class="btn btn-primary" ng-click='vote()'>Vote</button>
         <button class="btn btn-info" ng-click='viewResults()'>Results</button>
         <button class="btn btn-info" disabled id="canDetailsButton" ng-click='viewCandidateDetails()'>Candidate Details</button>
       </div>
       <br> 
       <div class="alert alert-success" id="messageSuccess" style="display: none">{{message}}</div>
       <div class="alert alert-danger" id="messageFail" style="display: none">{{message}}</div>

       <div class="panel panel-success" id="resultsChart" style="display: none">
         <div class="panel-heading"><h3 class="panel-title">Oscars {{year}} - {{category}} Results</h3></div>
         <div class="panel-body">
           <bars-chart data="data" ></bars-chart>
         </div>
       </div>
        </td>
        <td valign="top"> 
         <div id="candidateDetails" class="alert alert-success" ng-bind-html="canDetails"></div>
        </td>
       </tr>
      </table>
    </div>
  </div>
</body>
</html>
