<!DOCTYPE html>
<html>
<head>
  <title>Oscar Vote 1.0</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
  <div id="voteResults">
    <h1><%= voteResult %></h1>
  </div>
  <center><a href="/">Back to Main Page</a></center>
</body>
</html>
